{# @var product \Generated\Shared\Transfer\ItemTransfer #}

{% extends model('component') %}

{% define config = {
    name: 'variant-form',
} %}

{% define data = {
    products: required,
    availableVariantAttributes: required,
    addToCartAction: required,
} %}

{% block body %}
    <form action="{{ data.addToCartAction }}" method="post">
        <table>
            {% block form_header %}
                <tr>
                    <th>
                        {{ 'product.attribute.sku' | trans }}
                    </th>
                    {% for attributeName in data.availableVariantAttributes %}
                        <th>
                            {{ "product.attribute.#{attributeName}" | trans }}
                        </th>
                    {% endfor %}
                    <th>
                    </th>
                    <th>
                        {{ 'cart.price' | trans }}
                    </th>
                </tr>
            {% endblock %}

            {% block form_body %}
                {% for product in data.products %}
                    <tr>
                        <td>{{ product.sku }}</td>
                        {% for attributeName in data.availableVariantAttributes %}
                            <td>
                                {% if product.details[attributeName] is defined %}
                                    {{ product.details[attributeName] }}
                                {% else %}
                                -
                                {% endif %}
                            </td>
                        {% endfor %}
                        <td>
                            {% include molecule('quantity-counter') with {
                                modifiers: ['right-space'],
                                attributes: {
                                    min: 0,
                                    value: 0,
                                    name: "multi_variant_add_to_cart[#{product.sku}]"
                                },
                            } only %}
                        </td>
                        <td>
                            {% include molecule('money-price') with {
                                data: {
                                    amount: product.price,
                                    originalAmount: null,
                                },
                            } only %}
                        </td>
                    </tr>
                {% endfor %}
            {% endblock %}
        </table>
        {% block add_to_cart_button %}
        <button type="submit" class="button button--big spacing-top--big float-right">
            {% include atom('icon') with {
                modifiers: ['cart-plus'],
                data: {
                    name: 'cart-plus',
                },
            } only %}
            {{ 'product.set.detail.add-all-to-cart' | trans }}
        </button>
        {% endblock %}
    </form>
{% endblock %}
